<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVw8A0Vex1Kct9od256nwpREzcn2YaOdo</string>
	<key>GCM_SENDER_ID</key>
	<string>181397097349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.7dotss.hydromate</string>
	<key>PROJECT_ID</key>
	<string>hydromate-3e8db</string>
	<key>STORAGE_BUCKET</key>
	<string>hydromate-3e8db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181397097349:ios:c9bc43d26c58c6cfe852ec</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3409458246157632~9442033953</string>
</dict>
</plist>